exportPattern("^[[:alpha:]]+")

import(data.table)
import(R.matlab)
import(rgl)
importFrom(alphahull, ashape)
importFrom(alphashape3d, ashape3d)
importFrom(alphashape3d, volume_ashape3d)
importFrom(cxhull, cxhull)
